@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.header {
    position: relative; 
    overflow: hidden; 
    display: flex;   
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 300px;
    max-height: 550px;
    color: white;
    margin-bottom: 6%;
}

.background-image {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position:center;
    z-index: -2; 
}

.header:after {
    content: ""; 
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.12) 40%,rgba(27,32,48,1) 100%);
}


.header:before{
    content:""; /*skapar ett tomt element*/
    width:100%;
    height:200%;
    position:absolute; /*positionen är fast, alltså ändras ej beroende på andra element*/
    top:0;
    left:0;
    background:#1B2030 center no-repeat;
    background-size:100%;
    background-attachment:fixed; /*bakgrunden är fast, hänger ej med när man scrollar */
    animation: grow 360s  linear 10ms infinite;
    transition:all 0.4s ease-in-out; /*effekt när nån scrollar neråt*/
    z-index:-2; /*flyttar elementet bakom andra element i flex-boxen, z-index:1 hade placerat det framför*/
    background-color: transparent; /* Bakgrundsfärg för blackbars */
}

.header a{
    color:white; 
    text-decoration:none;
}


.info{
    width:50%;
    align-items:center;
    justify-content:center;
    text-align:center;
    text-shadow:0 2px 3px rgba(0,0,0,0.2);
    flex:1; /*placerar elementet framför andra element*/
}

body{
    background-color:white;
    margin:0;
    font-family:"EB Garamond", serif;
    background-color:#f5f5f5;
}

h1{
    color:white;
}

h2{
    text-align:center;
    font-family:"EB Garamond", serif;
}

/*Dessa två tillhör sidebar*/
.sidebar-header > a{
    text-decoration:none;
}

.sidebar-header > a:hover{
    text-decoration:none;
    color:#0080ff;
}

/*Dessa är för boxarna på startsidan*/
#blocken{
    width:calc(100% - 320px);
    margin-left:320px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-direction:row;
    margin:0 auto;
    flex-wrap:wrap;
}

.block{
    margin-top:2%;
    position: relative;
    border-radius:10px;
    transition:1s all ease;
    text-decoration: none;
    display: inline-block;
}

.bredd{
    width:300px;
    height:300px;
    border-radius:10px;
    display:flex;
    justify-content:flex-start;
    flex-direction:column;
    box-shadow:1px 1px 3px grey;
}

.bild{
  width:100%;
  height:50%;
  display:flex;
  justify-content:center;
  margin:0 auto;
  align-items:flex-start;
}

.bild img{
  display:block;
  width:100%;
  height:100%;
  border: 0 0 solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.block:hover{
    transition: ease;
    transform:scale(1.02);
}

.blocktext{
    background-color: white;
    text-decoration:none;
    color:#0080ff;
    width:100%;
    height:50%;
    display:flex;
    box-sizing:border-box;
    text-align:center;
    font-size:larger;
    align-items:center;
    justify-content:center;  
    border-radius:0 0 10px 10px;
}

/*Styling för fab-knapp*/
.fab{
    position:fixed;
    display:flex;
    bottom:30px;
    z-index:2;
    right:25px;
    width:65px;
    height:65px;
    border:2px solid rgb(247, 245, 245);
    border-radius: 50%;
    background-color:#0080ff;
    justify-content:center;
    align-items:center;
    box-shadow:1px 1px 10px rgb(249, 248, 248);
    transition: 0.5s ease;
}

.fab a{
    color:white;
    text-decoration:none;
    border-radius:50%;
}

.fab:hover{
    box-shadow:1px 1px 10px #0080ff;
    transition:1s;
    transform:scale(1.2);
}

/*Stylear hela sidan*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Styling för sidebar*/
.sidorubrik{
    color: transparent;
    background-color: transparent;
    transition: color 0.3s ease;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 77px;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    background:#0e71d4;
    padding: 25px 20px;
    transition: all 0.3s ease;
    z-index: 1;
}

.sidebar:hover{
    width: 240px;
}

.sidebar:hover .sidorubrik{
    color:white;
}

.sidebarLänkar{
    margin-top: 20px;
    height: 80%;
    overflow-y: auto;
    scrollbar-width: none;
}

.sidebarLänkar li a{
    display: flex;
    align-items: center;
    gap: 0 20px;
    color: white;
    white-space: nowrap;
    padding: 15px 10px;
    text-decoration: none;
    transition: 0.2s ease;
    font-size: larger;
}

.sidebarLänkar li a:hover{
    color: black;
    background: white;
    border-radius: 10px;
}

/*Stylear aktiv flik i sidebar*/
.active{
    background-color: #0080ff;
    border-radius:10px;
}


.sidebarLänkar li a.active:hover{
    color: white;
    background-color: #0080ff;
    border-radius: 10px;
}

/*Formulär för inloggning*/

.LogIn{
    display:flex;
    justify-content:center;
    align-items:center;
    height:20%;
}

form{
    width:20%;
    margin:0 auto;
    background-color:white;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
}

label{
    display: block;
    margin-bottom: 10px;
    font-size: large;
    color: black;
}

input{
    width: 95%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    font-size:large;

}

input[type="submit"]{
    width: 95%;
    background-color: #0080ff9d;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    font-size: larger;
    cursor: pointer;
    font-family:"EB Garamond", serif;
}

input[type="submit"]:hover{
    background-color: #0080ff;
    transition:0.5s ease;
    font-family:"EB Garamond", serif;
    font-size:larger;
}

.registrera{
    margin-top: 10px;
    font-size: 10px;
    color: #0080ff;
    font-size:medium;
}

.registreraLänk{
    margin-left: 1px;
    font-size: 11px;
    text-decoration: underline;
    text-decoration-color: lightblue;
    color: #0080ff;
    cursor: pointer;
    font-weight: 800;
    font-size:medium;
}

/*Container för Bank-id delen*/
.BankID_knapp{
    margin-top:5px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px 15px;
    border:0.5px solid rgb(146, 145, 145);
    box-shadow:1px 1px 2px grey;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    gap:10px;
    width:95%;
}

.BankID_ikon{
    max-width: 24px;
    max-height: 24px;
    width: auto;
    height: auto;
}

.BankID_ikon{
    width: 100%;
    height: 100%;
}

.BankID_knapp:hover{
    background-color:rgb(233, 233, 233);
    transition:0.5s ease;
}

/* När en användare valt att logga in med bankid*/
.qrKod{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}   

.bankid-låda{
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom: 2px solid #0080ff;
}


.instruktioner{
    padding-left:20px;
    text-align:left;
    margin-left:20px;
    margin-bottom:10px;
}

.qr{
    border-bottom: 2px solid #0080ff;
}

.avbryt{
    margin-top:10px;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 10px 15px;
    border:0.5px solid rgb(146, 145, 145);
    box-shadow:1px 1px 2px grey;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:35%;
    font-size: larger;
    background-color:#0080ffa2;
    width:30%;
}

.avbryt:hover{
    background-color:#0080ff;
    transition:0.5 ease;
}

.avbryt > a{
    text-decoration:none;
    color:white;
}

/*Test av java-script*/
.Javatest{
    display:flex;
    align-items:center;
    justify-content:center;
    width:10%;
    margin-left:45%;
}

#myButton{
    color:white;
    background-color:#0080ff;
    border-radius:10px;
}

/*Footer styling*/
.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #2f2f2f;
    background-color: white;
    border-top: 1px solid #e5e5e5;
    justify-content:bottom;
    margin-bottom:0;
    margin-top: 5%;
    position: relative;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    z-index: 0;
}
  
.footer > * {
    flex:  1 100%;
}
  
.footer-titel {
    font-weight: 500;
    font-size: 19px;
}

  
.footer ul {
    list-style: none;
    padding-left: 0;
}
  
.footer li {
    line-height: 2em;
}
  
.footer a {
    text-decoration: none;
}
  
.footer-låda {
    display: flex;
    flex-flow: row wrap;
}
  
.footer-låda > * {
    flex: 1 50%;
    margin-right: 1.25em;
}

.footer-lista{
    text-align: center;
}
  
.footer-lista a {
    color: #777575;
}
  
@media screen and (min-width: 40.375em) {
    .footer-låda > * {
        flex: 1;
    }
    
    .footer-innehåll--extra {
        flex-grow: 2;
    }
    
    .footer-låda {
        flex: 1 0px;
    }
    
    .footer-innehåll {
        flex: 2 0px;
    } 
}
